.u-section-1 .u-sheet-1 {
  min-height: 1313px;
}

.u-section-1 .u-group-1 {
  width: 1094px;
  min-height: 690px;
  height: auto;
  margin: 274px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 0;
}

.u-section-1 .u-table-1 {
  width: 1000px;
  margin: 0 52px 0 auto;
}

.u-block-4e49-56 {
  border-style: solid;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-4e49-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-body-1 {
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  border-style: solid;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-2 {
  border-style: solid;
}

.u-section-1 .u-table-cell-3 {
  border-style: solid;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-4 {
  border-style: solid;
}

.u-section-1 .u-table-cell-5 {
  border-style: solid;
}

.u-section-1 .u-btn-3 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-1 .u-table-cell-6 {
  border-style: solid;
}

.u-section-1 .u-table-cell-7 {
  border-style: solid;
}

.u-section-1 .u-btn-4 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-1 .u-table-cell-8 {
  border-style: solid;
}

.u-section-1 .u-table-cell-9 {
  border-style: solid;
}

.u-section-1 .u-btn-5 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-1 .u-table-cell-10 {
  border-style: solid;
}

.u-section-1 .u-table-cell-11 {
  border-style: solid;
}

.u-section-1 .u-btn-6 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-1 .u-table-cell-12 {
  border-style: solid;
}

.u-section-1 .u-table-cell-13 {
  border-style: solid;
}

.u-section-1 .u-btn-7 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-1 .u-table-cell-14 {
  border-style: solid;
}

.u-section-1 .u-table-cell-15 {
  border-style: solid;
}

.u-section-1 .u-btn-8 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-1 .u-table-cell-16 {
  border-style: solid;
}

.u-section-1 .u-table-cell-17 {
  border-style: solid;
}

.u-section-1 .u-btn-9 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-1 .u-table-cell-18 {
  border-style: solid;
}

.u-section-1 .u-table-cell-19 {
  border-style: solid;
}

.u-section-1 .u-btn-10 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-1 .u-table-cell-20 {
  border-style: solid;
}

.u-section-1 .u-text-1 {
  margin: 324px -50px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover {
  color: #f1c50e !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3.hover {
  color: #f1c50e !important;
}

.u-section-1 .u-btn-4,
.u-section-1 .u-btn-4:before,
.u-section-1 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4:hover {
  color: #f1c50e !important;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4.hover {
  color: #f1c50e !important;
}

.u-section-1 .u-btn-5,
.u-section-1 .u-btn-5:before,
.u-section-1 .u-btn-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5:hover {
  color: #f1c50e !important;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5.hover {
  color: #f1c50e !important;
}

.u-section-1 .u-btn-6,
.u-section-1 .u-btn-6:before,
.u-section-1 .u-btn-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-6.u-btn-6.u-btn-6:hover {
  color: #f1c50e !important;
}

.u-section-1 .u-btn-6.u-btn-6.u-btn-6.hover {
  color: #f1c50e !important;
}

.u-section-1 .u-btn-7,
.u-section-1 .u-btn-7:before,
.u-section-1 .u-btn-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-7.u-btn-7.u-btn-7:hover {
  color: #f1c50e !important;
}

.u-section-1 .u-btn-7.u-btn-7.u-btn-7.hover {
  color: #f1c50e !important;
}

.u-section-1 .u-btn-8,
.u-section-1 .u-btn-8:before,
.u-section-1 .u-btn-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-8.u-btn-8.u-btn-8:hover {
  color: #f1c50e !important;
}

.u-section-1 .u-btn-8.u-btn-8.u-btn-8.hover {
  color: #f1c50e !important;
}

.u-section-1 .u-btn-9,
.u-section-1 .u-btn-9:before,
.u-section-1 .u-btn-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-9.u-btn-9.u-btn-9:hover {
  color: #f1c50e !important;
}

.u-section-1 .u-btn-9.u-btn-9.u-btn-9.hover {
  color: #f1c50e !important;
}

.u-section-1 .u-btn-10,
.u-section-1 .u-btn-10:before,
.u-section-1 .u-btn-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-10.u-btn-10.u-btn-10:hover {
  color: #f1c50e !important;
}

.u-section-1 .u-btn-10.u-btn-10.u-btn-10.hover {
  color: #f1c50e !important;
}