 .u-section-1 {
  background-image: url("images/6258147-HSC00001-7.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 464px;
}

.u-section-1 .u-table-1 {
  margin: 42px auto 42px 0;
}

.u-block-4e49-56 {
  border-style: dotted;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-4e49-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-body-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-1 {
  border-style: dotted;
}

.u-section-1 .u-btn-1 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-1 .u-table-cell-2 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-3 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-4 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-5 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-6 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-7 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-8 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-9 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-10 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-11 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-12 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-13 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-14 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-15 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-16 {
  border-style: dotted;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  color: #f1c50e !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  color: #f1c50e !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 150px;
} .u-section-3 {
  min-height: 399px;
}

.u-section-3 .u-image-1 {
  min-height: 399px;
  background-image: url("images/title.png");
  background-position: 100% 0%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-4 {
  min-height: 262px;
}

.u-section-4 .u-group-1 {
  min-height: 260px;
  background-image: none;
  height: auto;
  margin-top: 0;
  margin-bottom: 2px;
}

.u-section-4 .u-container-layout-1 {
  padding: 11px 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 40px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}